{% extends "base.html" %}

{% block content %}

	<h1>Nuevo Artefacto</h1>
		{% if msj%}
		<p style="font-weight:bold; color:red">{{msj}}</p>
		{%endif%}
		<form method='POST' action='create_artifact' enctype="multipart/form-data">
			{% csrf_token %}
			Nombre:{{form.name}}
			<br>
			Descripci&oacute;n:  {{form.description}}
			<br>
			Contenido:{{form.content}}
			<br>
			Actividad:<select name= 'activity'>
				{%for i in  act %}
					<option value= '{{i.name}}'>{{i}}</option>
				{%endfor%}
				</select>
			<br>	
			T&eacute;cnica:<select name= 'technique'>
				{%for i in  tech %}
					<option value= '{{i.name}}'>{{i}}</option>
				{%endfor%}
				</select> 
				<br>
		 		<input type='submit' value='Crear'>		
		</form >

{% endblock %}
