{% extends "base.html" %}

{% block content %}

<div class="read-box" style="background-color:#000000;">

<h1 style="font-size:20px;" >{{ methodology.name }}</h1>
<ul>
    Descripción: {{ methodology.description }}<br>
    Proceso de Software: {{ methodology.software_process }}<br>
    Dueño: {{ methodology.owner }}<br>
    {% if methodology.is_private %}
        Estado: Privada <br>
    {% else %}
        Estado: Pública  <br>
    {% endif %}
    </br>
    <a href="/methodology/manage_methodology/"> Regresar </a>
</ul>

</div>

{% endblock %}
